.vscode/
workflow/
scripts/__pycache__
EC_3h_deep_logs
EC_3h_deep_bc*
benchmark/EC_3h_deep/EC_3h_deep_QF*
benchmark/EC_3h_deep_no_XT
benchmark/EC_3h_deep_bwa_sam
benchmark/EC_3h_deep_R2_trimmed
benchmark/EC_3h_deep_2nd_trim
benchmark/EC_3h_deep_FC_directional_grouped_2
benchmark/EC_3h_deep/*_fastq.*
# These files are just to big to be tracked in the repo itself
benchmark/EC_3h_deep/SRR28148450_1.fastq
benchmark/EC_3h_deep/SRR28148450_2.fastq

*.swp
benchmark/EC_3h_deep_selected_cells
*fna.sa
*fna.pac
*fna.bwt
*fna.ann
*fna.amb
*fastqc.html
*fastqc.zip
*fastq.gz
benchmark/EC_3h_deep_v11_threshold_0_mixed_species_gene_matrix.txt
benchmark/EC_3h_deep_v11_threshold_0_filtered_mapped_UMIs.txt
benchmark/EC_3h_deep_selected_cumulative_frequency_table.txt
benchmark/EC_3h_deep/EC_3h_deep_S1_L001_R1_001_fastqc.html
benchmark/EC_3h_deep/EC_3h_deep_S1_L001_R1_001_fastqc.zip
benchmark/EC_3h_deep/EC_3h_deep_S1_L001_R2_001_fastqc.html
benchmark/EC_3h_deep/EC_3h_deep_S1_L001_R2_001_fastqc.zip
*.pyc
