.vscode/
workflow/
scripts/__pycache__
random20000_logs
random20000_bc*
demo/random20000/random20000_QF*
demo/random20000/*_fastq.*
*.swp
demo/random20000_selected_cells
*fa.sa
*fa.pac
*fa.bwt
*fa.ann
*fa.amb
demo/random20000_v11_threshold_0_mixed_species_gene_matrix.txt
demo/random20000_v11_threshold_0_filtered_mapped_UMIs.txt
demo/random20000_selected_cumulative_frequency_table.txt
demo/random20000/random20000_S1_L001_R1_001_fastqc.html
demo/random20000/random20000_S1_L001_R1_001_fastqc.zip
demo/random20000/random20000_S1_L001_R2_001_fastqc.html
demo/random20000/random20000_S1_L001_R2_001_fastqc.zip
*.pyc
