.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.vscode/
workflow/scripts/__pycache__
*.swp
*fa.sa
*fa.pac
*fa.bwt
*fa.ann
*fa.amb
*.pyc
*.dmnd
Pseq*
GCA*
GCF*
nr.gz
megan-map-*
workflow/.snakemake
workflow/results
workflow/logs
